body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
    border: 3.5px solid #4179df;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 200px;
    margin: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #007acc;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}

nav ul li:first-child a {
    border-left: none;
}

nav ul li a:hover {
    background-color: #005b99;
}

.header-right {
    display: flex;
    gap: 40px;
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

footer {
    background-color: #007acc;
    color: white;
    padding: 0;
    text-align: center;
    border: 3px solid #4179df;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.builds_tape{
    background-color: aquamarine;
    margin-left: 22%;
}

.buildings-title{
    background-image: url(/Assets/Buildings_img/IMG_4647.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    padding-top: 27px;
    border-top: #4179df;
}