
.header-right a:hover img {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.navbar {
    border: 3.5px solid #4179df;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav ul li a.active {
    background-color: #005b99;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

figure {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

figure:hover img {
    transform: scale(1.05);
}

figcaption {
    text-align: left;
    padding: 10px 0;
}

hr {
    width: 50%;
    margin: 20px auto;
}

footer {
    background-color: #007acc;
    color: white;
    padding: 20px 0;
    text-align: center;
    border: 3px solid #4179df;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    padding: 20px;
    min-width: 250px;
}

.footer-column img {
    width: 40px;
    height: 40px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.footer-column img:hover {
    transform: scale(1.2);
}
