/* main{
    background-image: url('/Assets/Buildings_img/imgonline-com-ua-Blur-M1RMTPdCHhc47Sk.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-attachment: fixed;
} */

/* .builds_tape{
    background-color: aquamarine;
    margin-left: 22%;
}

.buildings-title{
    background-image: url(/Assets/Buildings_img/IMG_4647.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    padding-top: 27px;
    border-top: #4179df;
} */