/* main{
    background-image: url('/Assets/Buildings_img/imgonline-com-ua-Blur-M1RMTPdCHhc47Sk.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-attachment: fixed;
} */

